.about__title {
  margin-bottom: 40px;
}

.about__item:first-of-type {
  float: left;
  margin-right: 80px;
}

.about__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.about__description:first-of-type {
  margin-bottom: 30px;
}

.about__description:last-of-type {
  margin-bottom: 60px;
}

.blockquote__text {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.13;
  margin-bottom: 40px;
  white-space: pre-line;
}

.blockquote__text::after,
.blockquote__text::before {
  color: #6c0287;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.13;
  text-transform: uppercase;
}

.blockquote__text::before {
  content: "“";
}

.blockquote__text::after {
  content: "”";
}

.blockquote__wrapper {
  text-align: right;
}
.blockquote__img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 30px;
}
.blockquote__cite {
  display: inline-block;
  width: 280px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: none;
  text-align: left;
  max-width: 270px;
}

.blockquote__company {
  text-transform: uppercase;
}