.booking {
  background: #440f51;
}

.booking-form {
}

.form {
}

.form__fieldset {
  border: none;
}

.form__fieldset-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.form__fieldset-item:last-child {
  margin-bottom: 0;
}

.form__fieldset-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.form__fieldset-group .form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__fieldset-group .form__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 24px;
}

.form__fieldset-group [type="radio"] {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.form__fieldset-group [type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.form__fieldset-group .form__inputlabel {
  font-size: 22px;
  font-weight: 400;
}

.form__fieldset-buttons .form__input {
  width: 0;
}

.form__fieldset-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__fieldset-buttons .form__input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
}

.form__legend-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 40px;
  text-align: center;
}

.form__label {
}

.form__input-group {
  display: flex;
  justify-content: space-between;
}

.form__inputs-date-time {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 32px;
}

.form__inputs-wrapper {
  width: 300px;
}

.form__input-wrapper {
  margin-bottom: 36px;
  width: 300px;
}

.form__input-wrapper input {
  height: 52px;
  width: 100%;
}

.form__input-label-small {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.form__input-select:first-child {
  margin-bottom: 56px;
}

.form__input-select:last-of-type {
  width: 300px;
}

.form__input-select:last-of-type input {
  width: 100%;
}

.form__inputs-date-time input {
  width: 134px;
}

.form__input-select input {
  position: relative;
  height: 52px;
}

.form__input-select .form__input-label {
  position: absolute;
  z-index: 10;
}

.form__input-label-text {
  color: #211e1e;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
}

.form__input-label-img {
}

.form__input--small {
  width: 134px;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 300px;
  height: 60px;
  background: #fff;
  color: #6c0287;
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;
  border: 3px solid transparent;
}

.form__button:hover {
  border: 3px solid #6c0287;
  background: #eadeed;
}

.form__button:active {
  background: #eadeed;
}

.form__button:focus {
  border: 3px solid #6c0287;
  background: #fff;
}

.form__input:focus {
  border: 2px solid #cd06ff;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
  border: 1px solid #cd06ff;
}
