.halls {
  text-align: center;
}

.halls__list {
  font-size: 0;
}

.halls__item {
  display: inline-block;
  width: 580px;
  min-height: 349px;
}

.halls__item-one {
  background-image: url(../image/halls/hall-1.jpg);
  object-position: left top;
}

.halls__item-two {
  background-image: url(../image/halls/hall-2.jpg);
  object-position: right top;
}

.halls__item-three {
  background-image: url(../image/halls/hall-3.jpg);
  object-position: left bottom;
  margin-bottom: 0;
}

.halls__item-four {
  background-image: url(../image/halls/hall-4.jpg);
  object-position: right bottom;
  margin-bottom: 0;
}

.halls__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  max-height: 349px;
  height: 349px;
  overflow: hidden;
}

.halls__item:nth-child(even) {
  margin-right: 0;
}

.halls__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 135px 82px;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  border: 3px solid transparent;
}

