.header {
  padding-top: 30px;
  margin-bottom: 58px;
}

.header__nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.nav {
}

.header__logo {
  margin-right: 96px;
}

.header__logo-img {
}

.header__list {
  display: flex;
  align-content: center;
  margin-right: auto;
}

.header__list-item {
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-lik {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;
}

.header__button {
  width: 280px;
  height: 55px;
  border: 3px solid #cd06ff;
  background-color: transparent;
  font-size: 22px;
}

.header__button:hover {
  border: 3px solid #6c0287;
  background: #6c0287;
}

.header__button:active {
  border: 1px solid #000;
  background: #640aa3;
}

.header__button:focus {
  background: #6c0287;
}
