@import url(./normalize.css);
@import url(./style.css);
@import url(./header.css);
@import url(./welcome.css);
@import url(./services.css);
@import url(./halls.css);
@import url(./booking.css);
@import url(./about.css);
@import url(./review.css);
@import url(./faq.css);
@import url(./footer.css);
@import url(./social.css);


