.review__list {
  max-width: 980px;
  margin: 0 auto;
}

.review__item:not(:last-child) {
  margin-bottom: 50px;
}

.review__image {
  display: inline-block;
  margin-right: 15px;
}

.review__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.review__img_position_top {
  object-position: top;
}

.review__name {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.review__text {
  max-width: 680px;
  vertical-align: top;
  display: inline-block;
  padding-top: 100px;
}
