:root {
  --color-main: #cd06ff;
  --color-purple: #440f51;
  --color-lightpurple: #6c0287;
  --color-purple-hover: #840aa3;
  --color-purple-active: #640aa3;
  --color-light-hover: #eadeed;
  --color-dark: #1b1a1b;
  --color-white: var(--color-white);

}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--color-dark);
  color:var(--color-white);
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

blockquote {
  text-transform: uppercase;
}

section,
footer {
  padding: 50px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  color: var(--color-white);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  color: var(--color-white);
  font-family: Arial, sans-serif;
  font-style: normal;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;
  cursor: pointer;
}
