html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #1b1a1b;
  color: #ffffff;
}


img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;

}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}


blockquote {
  text-transform: uppercase;
}

section,
footer {
  padding: 50px 0;
}

.container {
  max-width: 1240px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}


