.welcome {
}

.welcome__container {
  position: relative;
  min-height: 823px;
}

.welcome__container::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 0;
  background: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 675px;
  height: 762px;
}

.welcome__link {
  position: absolute;
  bottom: 187px;
  left: 50%;
  transform: translateY(-50%);
}

.welcome__link::after {
  content: "";
  position: absolute;
  background: url(../image/down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 97px;
  height: 97px;
}

.welcome__link:hover .welcome__link::after {
  background: url(../image/down-hover.svg);
  width: 97px;
  height: 97px;

}

.title {
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -15px;
  text-transform: uppercase;
  text-align: left;
}
.welcome__description {
  font-size: 28px;
  font-weight: 400;
  padding-left: 100px;
}

.welcome__heading {
  margin-bottom: 30px;
}

.welcome__info {
  display: flex;
  margin-bottom: 150px;
}

.welcome__info-item {
  display: flex;
  flex-direction: column;
}

.welcome__info-item:first-of-type {
  margin-right: 43px;
  text-align: center;
}

.welcome__info-item-accent {
  color: #cd06ff;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}

.welcome__info-item-text {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.welcome__info-item-text:first-of-type {
  max-width: 193px;
}

.welcome__info-item-accent:last-of-type {
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
  font-variant: all-small-caps;
}

.welcome__button {
  width: 374px;
  height: 80px;
  font-size: 26px;
  background: #6c0287;
}

.welcome__button:hover {
  background: #840aa3;
}

.welcome__button:active {
  background: #640aa3;
}

.welcome__button:focus {
  background: #840aa3;
}
