.welcome {

}

.welcome__container {
  position: relative;
  min-height: 823px;
}

.welcome__container::before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 0;
  background: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 675px;
  height: 762px;
}

.title {
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -15px;
  text-transform: uppercase;
  text-align: left;
}
.welcome__description {
  font-size: 28px;
  font-weight: 400;
  padding-left: 100px;
}
